<% if !flash[:notice].nil? %>
	<div class="alert alert-info">
		<button class="close" data-dismiss="alert">&times;</button>
		<%= flash[:notice] %>	
	</div>
<% elsif !flash[:success].nil? %>
	<div class="alert alert-success">
		<button class="close" data-dismiss="alert">&times;</button>
		<%= flash[:success] %>	
	</div>
<% elsif !flash[:error].nil? %>
	<div class="alert alert-error">
		<button class="close" data-dismiss="alert">&times;</button>
		<%= flash[:error] %>	
	</div>
<% end %>