<h2><%= @konto.ktoNr %></h2>

<div>
<table style="margin: 10px auto; width:100%;">
  <tr style=";">
    <td>Datum</td>
    <td>Buchungstext</td>
    <td>Soll</td>
    <td>Haben</td>
    <td>Punkte</td>
  </tr>
  
  <tr>
    <td>Heute</td>
    <td>Tagessaldo</td>
    <td>
    <td>123</td>
    <td>213213</td>
</table>
